publicHoistPattern[]=*eslint*
publicHoistPattern[]=*prettier*
publicHoistPattern[]=*lint-staged*
publicHoistPattern[]=*husky*
publicHoistPattern[]=*turbo*
publicHoistPattern[]=*commitlint*
ignore-scripts=false
